# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/*
/*/

# Folders
!bin/
bin/srcman

!.config/
.config/*
!.config/modprobed.db
!.config/modprobed-db.conf
!.config/gtk-3.0/
!.config/nitrogen/
!.config/rncbc.org/
!.config/terminator/
!.config/tox/
.config/tox/*
!.config/tox/toxic.conf
!.config/mpv/
!.config/cava/
!.config/termite/

!.config/user-dirs.dirs

!.gitignore

!.i3/

#!src/
#src/*
#!src/srcman/
#src/srcman/*
#!src/srcman/.zshrc

!.srcman/
.srcman/*
!.srcman/.zshrc

!.tuxguitar-1.3.2/
.tuxguitar-1.3.2/config/history.properties

!.themes/

!var/
var/*
!var/pictures/
var/pictures/*
!var/pictures/bg/
var/pictures/bg/*
!var/pictures/bg/Archbg_2.png
!var/pictures/bg/Archbg_2_blur.png

# Files
!.gtkrc-2.0
!.vimrc
!.xbindkeysrc
!.xinitrc
!.Xmodmap
!.zprofile
!.zshrc
