#tuxguitar
#Thu Apr 21 19:16:47 EDT 2016
tuxguitar-jack.enabled=false
tuxguitar-oss.enabled=false
tuxguitar-fluidsynth.enabled=true
tuxguitar-jsa.enabled=true
tuxguitar-alsa.enabled=true
tuxguitar-compat.enabled=true
